
@media screen and (max-width:320px){


    p.test{
        color:yellow;
        background-color: lightblue ;
    } 
    .midd{
        margin:0 auto;
    }

   

    p {
        width: 100%;
    }

    .b_color{
        margin: 10px;
        padding: 10px;
        width: 80%;
        height: 50px;
        border: 1px solid blue;
    }

    .title{
        border:1px solid black;
        height: 100px;
        width: 90%;
        float:center; 
        margin:10px;
        padding:10px;
        background:pink;
        font-size:32px;
    }

    html {
        height: 70%;
    }

    .fixed{
        width: 100%;
    }

    body {
        background-image: url(pic1.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }

}
@media screen and (min-width:321px) and (max-width:480px){


    p.test{
        color:yellow;
        background-color: lightblue ;
    } 
    .midd{
        margin:0 auto;
    }

   

    p {
        width: 100%;
    }

    .b_color{
        margin: 10px;
        padding: 10px;
        width: 250px;
        height: 50px;
        border: 1px solid blue;
    }

    .title{
        border:1px solid black;
        height: 80px;
        width: 90%;
        float:center; 
        margin:10px;
        padding:10px;
        background:pink;
        font-size:32px;
    }

    html {
        height: 70%;
    }

    .fixed{
        width: 100%;
    }

    body {
        background-image: url(pic1.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }

}

@media screen and (min-width:481px) and (max-width:519px){


    p.test{
           color:yellow;
           background-color: lightblue ;
       } 
   
       h1{
           width: 100%;
       }
   
       p {
           width: 100%;
       }
   
       .midd{
           margin:0 auto;
       }
   
       .b_color{
           margin: 10px;
           padding: 10px;
           width: 270px;
           height: 50px;
           border: 1px solid blue;
       }
   
       .title{
           border:1px solid black;
           height: 80px;
           width:  90%;
           float:center; 
           margin:10px;
           padding:10px;
           background:pink;
           font-size:32px;
       }
   
       .fixed{
           width: 100%;
       }
   
       html {
           height: 90%;
       }
   
       body {
           background-image: url(pic1.jpg);
           background-repeat: no-repeat;
           background-attachment: fixed;
           background-position: center;
           background-size: cover;
       }
   
   }
   

@media screen and (min-width:520px) and (max-width:768px){


 p.test{
        color:yellow;
        background-color: lightblue ;
    } 

    h1{
        width: 100%;
    }

    p {
        width: 100%;
    }

    .midd{
        margin:0 auto;
    }

    .b_color{
        margin: 10px;
        padding: 10px;
        width: 270px;
        height: 50px;
        border: 1px solid blue;
    }

    .title{
        border:1px solid black;
        height: 40px;
        width:  470px;
        float:center; 
        margin:10px;
        padding:10px;
        background:pink;
        font-size:32px;
    }

    .fixed{
        width: 100%;
    }

    html {
        height: 90%;
    }

    body {
        background-image: url(pic1.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }

}

    @media screen and (min-width:769px){
        p.test{
            color:yellow;
            background-color: lightblue ;
        } 
  
    
     
        p {
            width: 100%;
        }
    
        .midd{
            margin:0 auto;
        }
    
        .b_color{
            margin: 10px;
            padding: 10px;
            width: 300px;
            height: 50px;
            border: 1px solid blue;
        }
    
        .title{
            border:1px solid black;
            height: 40px;
            width: 470px;
            float:center; 
            margin:10px;
            padding:10px;
            background:pink;
            font-size:32px;
        }
    
        html {
            height: 100%;
        }
    
        
    
        body {
            background-image: url(pic1.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }
    
    }

    